/* * {
    outline: 1px solid tomato;
} */

/* header */
@keyframes move {
    0% {
        bottom: 30px;
    }

    50% {
        bottom: 35px;
    }

    100% {
        bottom: 30px;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    color: #fff;
    transition: 0.5s;
}

.header.on {
    background: rgba(0, 0, 0, 0.6);
}

.header .inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    line-height: 100px;

}

.header .inner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 0;
    transform: translate(-50%, -50%);
}

.header img {
    width: 250px;
    text-align: center;
    object-fit: cover;
}

.header .gnb>ul {
    display: flex;
    gap: 40px;
}



.gnb {
    display: flex;
    justify-content: space-between;
}


.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li::after {
    content: "";
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 3px;
    background: #fff;
}

.header .gnb>ul>li:hover::after {
    width: 100%;
    transition: 0.3s;
}

/* mainSlide */
.mainSlide {
    position: relative;
}

.mainVisual .mainSlide figure {
    position: relative;
    height: 1000px;
    background-position: center center;
    background-size: 130% auto;
    background-repeat: no-repeat;

}

.mainVisual .mainSlide figure.on {
    background-size: 110% auto;
    transition: 2.5s;
}

.mainVisual .mainSlide .itm01 {
    position: relative;
    background-image: url(../img/slider00.jpg);
}

.mainVisual .mainSlide .itm01::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.mainVisual .mainSlide .itm02 {
    position: relative;
    background-image: url(../img/slider01.jpg);
}

.mainVisual .mainSlide .itm02::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.mainVisual .mainSlide .itm03 {
    position: relative;
    background-image: url(../img/slider02.jpg);
}

.mainVisual .mainSlide .itm03::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.mainVisual .mainSlide .itm04 {
    position: relative;
    background-image: url(../img/slider03.jpg);
}

.mainVisual .mainSlide .itm04::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.mainVisual .mainSlide .itm05 {
    position: relative;
    background-image: url(../img/slider04.jpg);
}

.mainVisual .mainSlide .itm05::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.mainVisual .mainSlide .itm06 {
    position: relative;
    background-image: url(../img/slider05.jpg);
}

.mainVisual .mainSlide .itm06::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}



.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: move 1s infinite;
}

.scroll-down button {
    background: none;
    border: none;

}

.scroll-down i {
    color: #fff;
    font-size: 50px;

}

.mainVisual .mainSlide .slick-arrow {
    position: absolute;
    background: none;
    border: none;
    font-size: 0;
}

/* 
.mainVisual .mainSlide .slick-dots {
    position: absolute;
    top: 300px;
    left: 50%;
    margin: 0 0 0 -600px;
}

.mainVisual .mainSlide .slick-dots>li {
    display: inline-block;
    width: 45px;
    height: 2px;
    background: #fff;
    margin: 0 2px;
    border-radius: 2px;
    color: #fff;
}

.mainVisual .mainSlide .slick-dots>li.slick-active {
    width: 120px;
    transition: 0.5s;
}

.mainVisual .mainSlide .slick-dots>li:nth-child(1)::before {
    content: '01';
}

.mainVisual .mainSlide .slick-dots>li:nth-child(2).slick-active::before {
    content: 'car01';
}



.mainVisual .mainSlide .slick-dots>li button {
    display: none;
} */


.slide_nav {
    position: absolute;
    top: 300px;
    left: 50%;
    margin: 0 0 0 -600px;

    display: flex;
    width: 300px;


}

.slide_nav li {
    position: relative;
    margin: 0 5px 0 0;
    color: #fff;
}

.slide_nav li a {
    display: block;
    width: 30px;
    font-size: 0;
}

.slide_nav li::before {
    content: attr(data-num);
}

.slide_nav li.on::before {
    content: attr(data-txt);
}


.slide_nav li.on {
    flex: 1;
}

.slide_nav li::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 2px;
    background: #fff;
}

.carName {
    position: absolute;
    top: 350px;
    left: 50%;
    margin: 0 0 0 -600px;
    color: #fff;
    font-size: 65px;
    transition-duration: 0ms;
}

.content {
    padding: 100px 0;
    background: #f9f9f9;
}

.content .row-inner {
    display: flex;
    position: relative;
    width: 1200px;
    margin: 0 auto;
    gap: 60px;

}

.content .row-inner div {
    flex: 1;
}

.content .inner-left {
    height: 336px;
    background: url(../img/main_banner_Aston_Martin_Seoul_pc.jpg) no-repeat center center/cover;
}

.content .inner-right {
    width: 100%;
    position: relative;
    background: url(../img/servicing_centre_mo.jpg) no-repeat center center/cover;
}

.content .inner-right::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}



.content .inner-left P {
    position: absolute;
    bottom: 25%;
    left: 30px;
    text-shadow: 1px 1px 1px #000;
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    margin: 0 0 15px 0;
}

.content .inner-right P {
    position: absolute;
    bottom: 25%;
    left: 30px;
    z-index: 999;
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    margin: 0 0 15px 0;
    text-shadow: 1px 1px 1px #000;
}

.content .inner-left h2 {
    position: absolute;
    bottom: 10%;
    left: 30px;
    z-index: 999;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

.content .inner-right h2 {
    position: absolute;
    bottom: 10%;
    left: 30px;
    font-size: 30px;
    z-index: 999;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 1px #444;
}

.con-block {
    padding: 100px 0;
    margin: 0 auto;
    text-align: center;
}

.con-block p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 15px 0;
}

.con-block h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

.con-block-ty02 {
    padding: 100px 0;
}

.con-block-ty02 .inner {
    display: flex;
    flex-direction: column;
    max-height: 1000px;
    flex-wrap: wrap;
    gap: 60px;
    width: 1200px;
    margin: 0 auto;
}

.con-block-ty02 .inner>div {
    width: calc(50% - 30px)
}

.con-block-ty02 .text_box h2 {
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 25px 0;
}

.con-block-ty02 .text_box p {
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;

}

.con-block-ty02 .text_box_02 p {
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;

}



.con-block-ty02 .img_box img {
    width: 100%;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 1px;
    grid-auto-rows: minmax(180px, auto);
    grid-auto-flow: dense;
    padding: 1px;

}

.grid {
    padding: 100px 0;
    background: #f9f9f9;
}

.grid h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 40px 0;
    text-align: center;
}

.grid .inner {
    width: 1200px;
    margin: 0 auto;
}

.grid .inner img {
    width: 100%;
}

.grid-item {
    border-radius: 10px;
}

.grid-item-1 {
    position: relative;
    background: url(../img/gird01.jpg) no-repeat center center/cover;
}

.grid-item-1:hover::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    height: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
}

.grid-item-2 {
    position: relative;
    background: url(../img/gird02.jpg) no-repeat center center/cover;
}

.grid-item-2:hover::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    height: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
}

.grid-item-3 {
    position: relative;
    background: url(../img/gird05.jpg) no-repeat center center/cover;
}

.grid-item-3:hover::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    height: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
}

.grid-item-4 {
    position: relative;
    background: url(../img/gird04.jpg) no-repeat center center/cover;
}

.grid-item-4:hover::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    height: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
}

.grid-item-5 {
    position: relative;
    background: url(../img/gird03.jpg) no-repeat center center/cover;
}

.grid-item-5:hover::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    height: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
}

.grid-item-6 {
    position: relative;
    background: url(../img/gird06.jpg) no-repeat center center/cover;
}

.grid-item-6:hover::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    height: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
}

.grid-item-7 {
    position: relative;
    background: url(../img/gird07.jpg) no-repeat center center/cover;
}

.grid-item-7:hover::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    height: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
}

.grid-item-8 {
    position: relative;
    background: url(../img/gird08.jpg) no-repeat center center/cover;
}

.grid-item-8:hover::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    height: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
}

.grid-item-9 {
    position: relative;
    background: url(../img/gird09.jpg) no-repeat center center/cover;
}

.grid-item-9:hover::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    height: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
}

.grid-item-11 {
    position: relative;
    background: url(../img/gird10.jpg) no-repeat center center/cover;

}

.grid-item-11:hover::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    height: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);

}

.span-2 {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

.span-3 {
    grid-column-end: span 3;
    grid-row-end: span 4;
}


.news {
    padding: 100px 0;
    margin: 0 auto;
}

.news .inner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}

.news .txt_hd {
    width: 1200px;
    margin: 0 auto;
}

.news .txt_hd p {
    font-size: 12px;
    font-weight: 500;
    margin: 0 0 40px 0;
}

.news .txt_hd h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

.news .news_01 {
    flex: 1;
}

.news .img_box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin: 0 0 20px 0;
}

.news .txt_box .date {
    font-size: 12px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.news .txt_box p {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    margin: 0 0 25px 0;
}

.news .txt_box .more {
    position: relative;
    font-size: 12px;

}

.news .txt_box .more::before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 10px;
    left: 70px;
    width: 12px;
    height: 7px;
    background: url(../img/more_arrow_pc.png) no-repeat center / 100% auto;
}



.footer .img_box img {
    width: 250px;
}

.footer .top {
    line-height: 120px;
    border-bottom: 1px solid rgb(177, 177, 177);
    background: #000;
}

.footer .inner {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

.footer .left li {
    display: inline-block;
    margin: 0 40px 0 0;
    color: #fff;
    font-size: 14px;
}

.footer .inner>div {
    flex: 1;
}


.footer .right ul {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
    color: #fff;
    font-size: 14px;
}

.footer .bottom {
    line-height: 50px;
    text-align: center;

    margin: 0 auto;
    position: relative;
    background: #0e1116;
}

.footer .bottom .inner {
    display: inline-block;
    margin: 40px 0 0 0;
}

.footer .bottom p {
    margin: -30px 0 5px 0;
    font-size: 10px;
    color: #fff;
}

.footer .right i {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-100%, 0);
    margin: 0 0 0 600px;
    font-size: 25px;
    color: #fff;
}